APP_NAME=Yumigura
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=yumigura

UPLOADS_DIR=./data/uploads
JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
